<div id="<%= dom_id campu %>" class="text-center">
  <p class="lead">
    <strong>Nome: </strong>
    <%= campu.description %>
  </p>

  <p class="lead">
    <strong>Endereço: </strong>
    <%= campu.adress %>
  </p>

  <p class="lead">
    <strong>Número: </strong>
    <%= campu.number %>
  </p>

  <p class="lead">
    <strong>Bairro: </strong>
    <%= campu.neighbourhood %>
  </p>

  <p class="lead">
    <strong>Cidade: </strong>
    <%= campu.city %>
  </p>

  <p class="lead">
    <strong>Cep:</strong>
    <%= campu.cep %>
  </p>

  <p class="lead">
    <% if campu.deactivationDate %>
      <strong>O campus foi desativado em: </strong>
      <%= campu.deactivationDate %>
    <% else %>
      <strong>O campus está ativo</strong>
    <% end %>
  </p>
</div>
</div>

