<!-- Bootstrap needys -->
<%= stylesheet_link_tag "bootstrap.css" %>
<% if notice %>
  <div class="notice d-flex justify-content-center align-items-center m-5">
    <%= notice %>
  </div>
<% end %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Editando campus</h1>
      <%= render "form", campu: @campu %>
      <div class="text-center mt-4">
        <%= link_to "Mostrar este Campus", @campu, class: "btn btn-secondary mr-2" %>
        <%= link_to "Voltar à lista de Campus", campus_path, class: "btn btn-primary mt-2" %>
      </div>
    </div>
  </div>
</div>