<!-- Bootstrap needys -->
<%= stylesheet_link_tag "bootstrap.css" %>

<div class="container">
  <div class="bg-text p-3">
    <p class="text-success"><%= notice %></p>
      <div class="card p-3">
        <%= render @campu %>
        <div class="text-center mt-3">
          <%= link_to "Editar este campus", edit_campu_path(@campu), class: "btn btn-primary mr-2 mr-3" %>
          <%= link_to "Voltar à lista de campus", campus_path, class: "btn btn-secondary" %>          
          <%= button_to "Destruir este campus", @campu, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-3" %>
        </div>
      </div>
    </div> 
  </div> 
</div>