<div id="<%= dom_id uff_campus %>">
  <p>
    <strong>Description:</strong>
    <%= uff_campus.description %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= uff_campus.adress %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= uff_campus.number %>
  </p>

  <p>
    <strong>Neighbourhood:</strong>
    <%= uff_campus.neighbourhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= uff_campus.city %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= uff_campus.cep %>
  </p>

  <p>
    <strong>Deactivationdate:</strong>
    <%= uff_campus.deactivationDate %>
  </p>

</div>
