<!-- Bootstrap needys -->
<%= stylesheet_link_tag "bootstrap.css" %>
<div class="container">
  <h1 class="text-center mb-5">Caronas</h1>

  <div class="row justify-content-center">
    <div class="table-responsive">
      <div class="row">
        <% @caronas.each do |carona| %>
          <div class="col-md-4">
            <div class="card mb-4 bg-secondary text-secondary-emphasys">
              <div class="card-body">
                <h5 class="card-title"><%= carona.motorista %></h5>
                <p class="card-text"><strong>Início:</strong> <%= carona.inicio %></p>
                <p class="card-text"><strong>Fim:</strong> <%= carona.fim %></p>
                <p class="card-text"><strong>Hora:</strong> <%= carona.hora.strftime("%H:%M") %></p>
                <p class="card-text"><strong>Custo:</strong> <%= carona.custo %></p>
                <div class="button-group">
                  <%= link_to 'Mostrar', carona, class: "btn btn-primary mr-2 mt-3" %>
                  <%= link_to 'Editar', edit_carona_path(carona), class: "btn btn-secondary mr-2 mt-3" %>
                  <%= button_to 'Excluir', carona_path(carona), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger mr-2 mt-3" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <%= link_to 'Nova Carona', new_carona_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>
